<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>General</title>
    <th:block th:replace="/partials/partials.html :: head"></th:block>
</head>
<body>
<nav th:replace="/partials/partials.html :: navbar"></nav>
<h1>General page</h1>
<form name="search">
    <label>
    <input placeholder="game title" name="input">
    </label>
    <button type="button" id="search-btn">Search</button>
</form>


<div class="card mb-3">
    <div id="news"></div>
</div>

<th:block th:replace="/partials/partials.html :: scripts"></th:block>
<script src="/js/keys.js"></script>
<script src="/js/generalFetch.js"></script>
</body>
</html>